---
layout: default
paginate:
    collection: blog
    size: 10
    link: blog/page/:page
---
{@io.quarkiverse.roq.frontmatter.runtime.model.NormalPage page}

<div class="blog-page grid-wrapper">

  <div class="grid__item width-12-12"></div>

  <div class="grid__item width-1-12 align-self-center"></div>

  <div class="grid__item width-8-12 width-12-12-m">
      {#for post in site.collections.blog.paginated(page.paginator)}
      {#let author = cdi:authors.get(post.data.author)}
      <div class="blog-list-item grid-wrapper">
        <div class="post-title grid__item width-12-12">
          <a href="{post.data.external_link ?: post.url}">{post.title}</a>
        </div>
        <div class="grid__item width-8-12 width-12-12-m byline-wrapper">
          {#if author.containsKey('emailhash')}
          <img class="headshot" src="https://www.gravatar.com/avatar/{author.emailhash}">
          {/if}
          <p class="byline">By <a href="{author.bio}">{author.name}</a>
            <br/>
            <small>{post.date.format('LLLL dd, YYYY')} |
              {#if post.data.tags}
                {#for tag in post.data.tags.splitTags}
                  <a class="tags" href="{site.url}blog/tag/{tag}"> #{tag}</a>
                {/for}
            {/if}
            </small>
          </p>
        </div>
        <div class="grid__item width-4-12 width-12-12-m">
            {#include partials/share-page.html title=post.title url=post.data.link.or(post.url) /}
        </div>
        <div class="grid__item width-12-12">
          {#if post.data.synopsis}
            <p>{post.data.synopsis.stripHtml()}</p>
          {/if}
        </div>
          <div class="grid__item width-12-12">
              {#let url=post.data.external_link.or(post.url.path)}
              <a href="{url}">
                  {#if url.contains('youtube')}Watch Video &rsaquo;{#else}Read More &rsaquo;{/if}
              </a>
              {/let}
          </div>
      </div>
      {/let}
    {/for}
    {#include partials/pagination.html/}
  </div>

  <div class="grid__item width-1-12 width-12-12-m"></div>

  <div class="grid__item width-2-12 width-12-12-m">
    <div class="grid__item width-2-12 align-self-center">
     <a href="{site.url('feed.xml')}"><i class="fas fa-rss-square"></i></a>
    </div>
     <h3 class="tags-label">Tags</h3>
      {#for tag in site.collections.blog.tags}
      <a href="{site.url}blog/tag/{tag}">{tag}</a></br>
      {/for}
   </div>
</div>
