<div class="share-page">
  <a class="share-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ include.url }}&title={{ include.title }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
    <i class="fab fa-linkedin"></i>
  </a>
  <a class="share-twitter" href="https://twitter.com/intent/tweet?text={{ include.title }}&url={{ include.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
    <i class="fab fa-twitter-square"></i>
  </a>
  <a class="share-facebook" href="https://facebook.com/sharer.php?u={{ include.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <i class="fab fa-facebook-square"></i>
  </a>
  <a class="share-reddit" href="http://www.reddit.com/submit?url={{ include.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Reddit" >
    <i class="fab fa-reddit-square"></i>
  </a>
  <a class="share-email" href="mailto:?subject={{ include.title }}&amp;body={{include.title}} {{ include.url }}" title="Share via Email" >
    <i class="fas fa-envelope-square"></i>
  </a>
</div>
