.search-input {
    color: #000000;
    font-family: "Titillium Web", sans-serif;
    width: 100%;
}

ul.search-result {        
    margin-top: 0;
    background: #fff;
    position: absolute;
    background-color: #DCDCDC;
    list-style-type: none;
    list-style-position: unset;
    min-width: 50%;
}
