dir                     = $ENV::CA_HOME

[ ca ]
default_ca              = subelytron

[ subelytron ]
certificate             = $dir/icacert.pem
database                = $dir/index.txt
new_certs_dir           = $dir/certs
private_key             = $dir/private/icakey.pem
serial                  = $dir/serial

default_crl_days        = 365
default_days            = 3650
default_md              = sha256

policy                  = subelytron_policy
x509_extensions         = certificate_extensions

[ subelytron_policy ]
commonName              = supplied
stateOrProvinceName     = supplied
countryName             = supplied
emailAddress            = optional
organizationName        = supplied
organizationalUnitName  = optional

[ certificate_extensions ]
basicConstraints        = CA:false

[ req ]
default_bits            = 2048
default_keyfile         = $dir/private/new.pem
default_md              = sha256
prompt                  = no
distinguished_name      = elytron_ica_dn

[ elytron_ica_dn ]
commonName              = Elytron ICA
stateOrProvinceName     = Elytron
countryName             = UK
emailAddress            = subelytron@wildfly.org
organizationName        = Intermediate Certificate Authority

